<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee                          http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <!--SECURITY ROLES-->
    <security-role>
        <description>Customer Service</description>
        <role-name>service</role-name>
    </security-role>
    <security-role>
        <description>System Administrator</description>
        <role-name>admin</role-name>
    </security-role>
    <!--Restricting access to admin sub-directory-->
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>Protected Area</web-resource-name>
            <url-pattern>/admin/*</url-pattern>
        </web-resource-collection>
        <!--Authorize admins to connect -->
        <auth-constraint>
            <role-name>service</role-name>
            <role-name>admin</role-name>
        </auth-constraint>
    </security-constraint>
    <login-config>
        <auth-method>FORM</auth-method>
        <form-login-config>
            <form-login-page>/admin/login.html</form-login-page>
            <form-error-page>/admin/login_error.html</form-error-page>
        </form-login-config>
    </login-config>
    <!--FILTER DEFINITIONS-->
    <filter>
        <filter-name>LoginFilter</filter-name>
        <filter-class>Filters.LoginFilter</filter-class>
    </filter>
    <!--FILTER MAPPINGS-->
    <filter-mapping>
        <filter-name>LoginFilter</filter-name>
        <servlet-name>LoginServlet</servlet-name>
    </filter-mapping>
    <!--SERVLET DEFINITIONS-->
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>Login.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewCustomerServlet</servlet-name>
        <servlet-class>newCustomer.NewCustomerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangePasswordServlet</servlet-name>
        <servlet-class>ChangePassword.ChangePasswordServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TransferServlet</servlet-name>
        <servlet-class>Transfer.TransferServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReportsServlet</servlet-name>
        <servlet-class>Reports.ReportsServlet</servlet-class>
    </servlet>
    <!--SERVLET MAPPINGS-->
    <servlet>
        <servlet-name>Faces Servlet</servlet-name>
        <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/Account_activity</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewCustomerServlet</servlet-name>
        <url-pattern>/Sign_up</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangePasswordServlet</servlet-name>
        <url-pattern>/ChangePassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TransferServlet</servlet-name>
        <url-pattern>/Transfer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReportsServlet</servlet-name>
        <url-pattern>/Download</url-pattern>
    </servlet-mapping>
    <!--WELCOME FILE LIST-->
    <servlet-mapping>
        <servlet-name>Faces Servlet</servlet-name>
        <url-pattern>/faces/*</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>faces/index.xhtml</welcome-file>
        <welcome-file>index.jsp</welcome-file>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
    <error-page>
        <error-code>404</error-code>
        <location>/Error_404.jsp</location>
    </error-page>
    <error-page>
        <exception-type>java.lang.Throwable</exception-type>
        <location>/Error_java.jsp</location>
    </error-page>
</web-app>
